<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Codebreaker</title>
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/ico">
    <link rel="stylesheet" href="/stylesheets/application.css" type="text/css"> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/js/app.js"></script>     
  </head>
  <body>
   <div id='container'>
    <div id="rules">
    <h1>The 'Codebreaker' game</h1>
    <p>Codebreaker is a logic game in which a code-breaker tries to break a secret code created by a code-maker. The code-maker, which will be played by the application we’re going to write, creates a secret code of four numbers between 1 and 6.

    The code-breaker then gets some number of chances to break the code. In each turn, the code-breaker makes a guess of four numbers. The code-maker then marks the guess with up to four + and - signs.

    A + indicates an exact match: one of the numbers in the guess is the same as one of the numbers in the secret code and in the same position.

    A - indicates a number match: one of the numbers in the guess is the same as one of the numbers in the secret code but in a different position.</p>
    </div>
    
    <% unless game %>
      <a href="/start"><button>Start game</button></a>
    <% else %>            
      <h2>Your guess: <%= guess %></h2>
      <h2>Checking: <%= game.check_guess(guess) %></h2>

      <% unless game.win? || game.game_start == false %>       
        <% if game.hint.zero? %>
          <p class="hint">Hint: Secret code contains: <%= hint %></p>
        <% end %> 

        <h4>You have 
          <span> <%= "#{game.attempts}" %></span> attempts and 
          <span> <%= "#{game.hint}" %></span> hint.
        </h4>

        <p class="hint">Type your secret code or "hint": </p>       
        <form method="post" action="/update_guess">
          <input name="guess" autofocus=true type="text" pattern="^[1-6]{4}|hint$">
          <input type="submit" value="Try!">
        </form>

      <% else %>
        <% if game.game_start == false %>
          <h2 class="hint">Don't worry! Next time you can win!:)</h2>

        <% else %>        
          <p class="score">Your score: <span><%= game.score_count %><span></p>
          <p class="score">Type your name for saving score: </p>
          <form method="post" action="/save_score">
            <input name="player_name" autofocus=true type="text">
            <input type="submit" value="Save score">
          </form>
        <% end %>
      <% end %>

      <a href="/start"><button>New game</button></a>
    <% end %>
   </div>             
  </body>
</html>